@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Nunito:wght@400;600;700&family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
